---
/**
 * * These are small cards with icons, titles, and text
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons and name it however and use similar to below
 */

import { Icon } from "astro-icon";

interface Props {
  icon: string;
  title: string;
  text: string;
  rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { icon, title, text, ...rest } = Astro.props as Props;
---

<div class="flex flex-col gap-2" {...rest}>
  <div class="flex items-start gap-2">
    <Icon
      name={icon}
      class="mt-1 h-5 w-5 text-primary-600 dark:text-primary-400"
      aria-hidden="true"
    />
    <h3 class="inline text-lg">{title}</h3>
  </div>

  <p class="opacity-90 dark:opacity-80">{text}</p>
</div>
