---
/**
 * * These are larger cards with icons, titles, and text
 * Recommend using 3 cards in a row
 */

import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  text: string;
}

const { image, title, text } = Astro.props as Props;
---

<div
  class="flex flex-col gap-2 overflow-hidden rounded-2xl border border-base-300 bg-base-200/50 text-center transition duration-500 hover:border-primary-300 dark:border-base-600/60 dark:bg-base-800/50 dark:hover:border-base-500"
>
  <div class=`overflow-hidden shrink-0 justify-center sm:justify-normal`>
    <figure>
      <Image
        src={image}
        alt={title}
        height={401}
        class="h-auto max-h-48 w-full object-cover"
      />
    </figure>
  </div>

  <div class="px-4 py-6">
    <h3 class="h3 inline">{title}</h3>
    <p class="mt-4 opacity-90 dark:opacity-80">{text}</p>
  </div>
</div>
