---
/**
 * * Logo sloud section static
 *
 * These are taken from the src/icons folder. You may desire to modify any SVGs you use to have the fill set to "currentColor"
 * to use the current text color. That is how I have set up these icons for demo purposes
 */

import { Icon } from "astro-icon";
---

<section
  id="logocloud1"
  class="flex items-end justify-center border-y border-base-300 py-6 dark:border-base-600/60"
>
  <div class="container">
    <div class="mx-auto max-w-xl">
      <div class="flex justify-center">
        <h2 class="colored-title inline">Trusted by developers at</h2>
      </div>
    </div>
    <div class="mt-6">
      <div class="grid w-full grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-6">
        <div class="flex px-8">
          <Icon name="astro" class="logo py-2" aria-label="logo" />
        </div>

        <div class="flex px-8">
          <Icon name="dribbble" class="logo" aria-label="logo" />
        </div>

        <div class="flex px-8">
          <Icon name="sanity" class="logo py-2" aria-label="logo" />
        </div>

        <div class="flex px-8">
          <Icon name="contentfull" class="logo" aria-label="logo" />
        </div>

        <div class="flex px-8">
          <Icon name="github" class="logo" aria-label="logo" />
        </div>

        <div class="flex px-8">
          <Icon name="notion" class="logo" aria-label="logo" />
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .logo {
    @apply mx-auto h-12 w-auto;
  }
</style>
