---
import { Icon } from "astro-icon";
import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";

import heroImage from "@images/dashboard-main-min.png";
---

<section
  id="hero3"
  class="relative flex w-full overflow-hidden pb-28 pt-32 md:pb-36"
>
  <!-- background glow -->
  <div
    class="absolute inset-0 top-[60%] -z-10 mx-auto h-[30%] w-[50%] max-w-3xl rounded-full bg-primary-500/50 blur-[100px] sm:top-[50%]"
    aria-hidden="true"
  >
  </div>

  <!-- background grid svg -->
  <div class="absolute inset-0 -z-20 flex overflow-hidden">
    <Icon
      name="grid-lg"
      class="relative h-full w-full object-cover text-base-400/70 opacity-10 dark:text-base-500"
      aria-hidden="true"
    />
  </div>

  <!-- hero items -->
  <div
    class="container mx-auto max-w-4xl gap-8 pb-32 text-center sm:pb-44 md:pb-72"
  >
    <!-- notification -->
    <div
      class="mb-4 flex w-full items-center justify-center"
      data-aos="fade-up"
    >
      <a
        href="/blog/tsconfig-paths-setup/"
        class="flex items-center rounded-full border border-primary-300 bg-base-100 px-4 py-1 text-sm text-base-800 ring-2 ring-primary-500 ring-opacity-20 transition hover:border-primary-400 dark:border-primary-300/20 dark:bg-base-800 dark:text-base-200 dark:hover:border-primary-400/40"
      >
        <span class="flex items-center gap-2">
          <Icon
            name="tabler:wand"
            class="inline h-4 w-4 text-primary-600 dark:text-primary-300"
            aria-hidden="true"
          />New updates!</span
        ></a
      >
    </div>

    <!-- Hero text -->
    <h1
      class="bg-gradient-to-r from-base-900 to-base-600/90 bg-clip-text pb-4 text-5xl font-medium text-transparent dark:from-base-100 dark:to-base-400/90 md:text-6xl"
      data-aos="fade-up"
      data-aos-trigger="#hero3"
    >
      Welcome to Galaxy
    </h1>
    <p
      class="description mx-auto mt-2 max-w-sm sm:max-w-md md:max-w-lg"
      data-aos="fade-up"
      data-aos-delay="0"
      data-aos-trigger="#hero3"
    >
      Get your SaaS landing page and blog running in a snap. Save time with
      multiple pre-designed pages, sections, and components. Built with Astro
      and Tailwind CSS.
    </p>

    <!-- CTA -->
    <div
      class="mx-auto mt-8 flex max-w-sm flex-col justify-center gap-4 px-4 sm:flex-row"
    >
      <Button
        variant="primary"
        href="https://cosmicthemes.com/themes/galaxy/"
        data-aos="fade-up"
        data-aos-delay="0.8"
        data-aos-trigger="#hero3"
      >
        Get Galaxy
      </Button>
      <Button
        variant="outline"
        href="/overview/"
        arrow="right"
        data-aos="fade-up"
        data-aos-delay="1"
        data-aos-trigger="#hero3"
      >
        Overview
      </Button>
    </div>
  </div>

  <!-- hero image -->
  <div
    class="container absolute inset-0 top-3/4 z-10 mx-auto max-w-4xl sm:top-2/3 md:top-[55%]"
    aria-hidden="true"
  >
    <!-- normal is border gradient around image -->
    <!-- after is transparent padding around image -->
    <div
      class=`relative h-fit rounded-2xl bg-gradient-to-b from-primary-400 dark:from-primary-500 to-base-300/70 dark:to-base-300/50 to-40%
      after:absolute after:inset-0 after:rounded-[calc(1rem-1px)] after:bg-base-100/30 dark:after:bg-base-800/50 after:inset-[1px]`
      data-aos="fade-in"
      data-aos-delay="0.2"
      data-aos-trigger="#hero3"
    >
      <Image
        src={heroImage}
        alt="logo"
        loading="eager"
        width={1500}
        class="relative z-20 rounded-2xl p-1 md:rounded-xl md:p-2"
      />
    </div>
  </div>
</section>
