.ks-admonition {
  border-radius: 0.375rem /* 6px */;
  border-left: 4px solid;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.ks-admonition__variant {
  font-weight: 700;
  text-transform: uppercase;
}
