---
/**
 * * CTA section with glow inside card and left text and right button on large screens
 */

// components
import Button from "@components/Button/Button.astro";
---

<section id="CTA" class="my-12 py-8 md:my-18">
  <div class="container">
    <div
      class="pricing-plan relative mx-auto h-full w-full overflow-hidden rounded-2xl bg-gradient-to-br from-primary-400 to-base-300 to-40% dark:from-primary-500 dark:to-base-600/60"
    >
      <div class="relative h-full p-px">
        <div
          class="relative z-10 h-full overflow-hidden rounded-[calc(1rem-1px)] bg-primary-100 dark:bg-base-800"
        >
          <!-- inside card glow  -->
          <div
            class="absolute left-0 top-0 -z-10 mx-auto aspect-square w-full max-w-xl -translate-x-1/2 -translate-y-1/2 rounded-full bg-primary-600/10 blur-3xl md:-translate-x-1/4"
            aria-hidden="true"
          >
          </div>

          <div
            class="mx-auto grid max-w-3xl gap-8 px-4 py-20 md:grid-cols-3 md:py-24"
          >
            <div class="md:col-span-2">
              <div class="flex justify-start">
                <p class="colored-title inline">Need Help?</p>
              </div>
              <h2 class="h1 mt-8">Call Us Anytime</h2>
              <p class="description mt-6">
                Get help through our 24/7 hotline.
                <br>
                <a href="tel:14032952848">+1 (403) 295-2848</a>
              </p>
            </div>
            <div class="flex items-end justify-start md:justify-end">
              <Button variant="primary" href="tel:14032952848" class="mx-12">Call&nbsp;Now</Button>
              <!-- <Button variant="secondary" href="/contact/">Contact&nbsp;Form</Button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div
      class=`group relative h-full w-full rounded-2xl bg-gradient-to-br from-primary-500 via-base-300/50 to-primary-500
          after:absolute after:rounded-[calc(1rem-1px)] after:bg-base-100/30 dark:after:bg-base-800/50 after:inset-[1px]`
    > -->
    <!-- background glows -->
    <!-- <div
        class="absolute left-0 top-0 -z-10 mx-auto aspect-square w-[20%] bg-primary-600/70 blur-3xl"
      >
      </div>

      <div
        class="absolute bottom-0 right-0 -z-10 mx-auto aspect-square w-[20%] bg-primary-600/70 blur-3xl"
      >
      </div> -->

    <!-- center card -->
    <!-- <div class="relative z-10 p-1">
        <div class="rounded-xl bg-base-100 dark:bg-base-800 px-4 py-20">
          <div class="mx-auto grid max-w-3xl gap-8 md:grid-cols-3">
            <div class="md:col-span-2">
              <div class="flex justify-start">
                <p class="colored-title inline">Make more money</p>
              </div>
              <h2 class="h1 mt-8">What are you waiting for?</h2>
              <p class="description mt-6">
                Get your beautiful and effective website up in running in a snap
                with Galaxy today.
              </p>
            </div>
            <div class="flex items-end justify-start md:justify-end">
              <Button variant="primary" href="/signup/">Get Started</Button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
