---
// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Button from "@components/Button/Button.astro";
---

<BaseLayout title="404" description="Error 404 page not found." noindex={true}>
  <div class="mt-24 md:mt-36">
    <div class="container flex max-w-2xl">
      <div
        class=`group relative h-full rounded-2xl bg-gradient-to-bl from-primary-400 via-base-300/70 to-primary-400
        dark:from-primary-500 dark:via-base-300/50 dark:to-primary-500
          after:absolute after:rounded-[calc(1rem-1px)] after:bg-base-100/30 dark:after:bg-base-800/50 after:inset-[1px]`
      >
        <!-- image bg glows -->
        <div
          class="absolute right-0 top-0 -z-10 mx-auto aspect-square w-[20%] bg-primary-600/70 blur-3xl"
        >
        </div>

        <div
          class="absolute bottom-0 left-0 -z-10 mx-auto aspect-square w-[20%] bg-primary-600/70 blur-3xl"
        >
        </div>

        <!-- center card -->
        <div class="relative z-10 p-1">
          <div
            class="flex flex-col gap-4 rounded-xl bg-base-100 px-4 py-12 text-center dark:bg-base-800"
          >
            <h1 class="h1">This page seems misplaced...</h1>
            <p class="description text-xl">
              Unfortunately, this page does not exist. Maybe you can find what
              you're looking for on the home page?
            </p>
            <div class="mx-auto">
              <Button variant="primary" href="/" class="mx-auto">Home</Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
