---
// style import
import "@/styles/global.scss";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Feature1 from "@components/Feature/Feature1.astro";
import Feature2 from "@components/Feature/Feature2.astro";
import Feature3 from "@components/Feature/Feature3.astro";
import Feature4 from "@components/Feature/Feature4.astro";
import Feature5 from "@components/Feature/Feature5.astro";
import Feature6 from "@components/Feature/Feature6.astro";
import Feature7 from "@components/Feature/Feature7.astro";
import Feature8 from "@components/Feature/Feature8.astro";

// data
import siteData from "@config/siteData.json";
---

<BaseLayout
  title="All Feature Sections"
  description="All Feature sections you get with the Galaxy theme by Cosmic Themes."
>
  <div class="container my-28 flex justify-center">
    <h1 class="h1">All Feature Sections</h1>
  </div>
  <Feature6 />
  <Feature4 />
  <Feature1 />
  <Feature3 />
  <Feature2 />
  <Feature8 />
  <Feature7 />
  <Feature5 />
</BaseLayout>
