---
// style import
import "@/styles/global.scss";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Hero1 from "@components/Hero/Hero1.astro";
import Hero2 from "@components/Hero/Hero2.astro";
import Hero3 from "@components/Hero/Hero3.astro";
---

<BaseLayout
  title="All Hero Sections"
  description="All Hero sections you get with the Galaxy theme by Cosmic Themes."
>
  <div class="container my-28 flex justify-center">
    <h1 class="h1">All Hero Sections</h1>
  </div>
  <Hero1 />
  <hr class="my-20 border-primary-500" />
  <Hero2 />
  <hr class="my-20 border-primary-500" />
  <Hero3 />
</BaseLayout>
