---
import { type CollectionEntry } from "astro:content";

// component imports
import BaseHead from "@layouts/BaseHead.astro";
import Nav from "@components/Nav/Nav.astro";
import Footer from "@components/Footer/Footer.astro";
import CookieConsent from "@components/CookieConsent/CookieConsent.astro";

// style import
import "@/styles/global.scss";

// data
import siteData from "@config/siteData.json";

// heroImage and authorData are defined on blog posts
// authorData could also be defined on the about author page
interface Props {
  type?: "blog" | "general";
  title: string;
  description: string;
  heroImage?: ImageMetadata;
  authorsData?: CollectionEntry<"authors">[];
  postFrontmatter?: CollectionEntry<"blog">["data"];
  noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
}

const {
  type = "general",
  title,
  description,
  heroImage,
  authorsData,
  postFrontmatter,
  noindex = false,
} = Astro.props as Props;
---

<!doctype html>
<html
  lang="en"
  class={`dark ${siteData.useAnimations === true ? "use-animations" : ""}`}
>
  <head>
    <BaseHead
      type={type}
      title={title}
      description={description}
      image={heroImage ? heroImage : undefined}
      authors={authorsData ? authorsData : undefined}
      postFrontmatter={postFrontmatter ? postFrontmatter : undefined}
      noindex={noindex}
    />
  </head>
  <body
    id="body"
    class="bg-base-100 text-base-900 dark:bg-base-900 dark:text-base-100"
  >
    <!-- put cookie consent first so it is seen first by screen readers -->
    <!-- <CookieConsent /> -->
    <div class="">
      <Nav />
      <main class="">
        <slot />
      </main>
    </div>
    <Footer />

    <!-- Scroll animations -->
    <script>
      import siteData from "@config/siteData.json";
      import AOS from "@js/aos/aos";

      if (siteData.useAnimations === true) {
        // runs on initial page load
        AOS.init();

        // runs on view transitions navigation
        document.addEventListener("astro:after-swap", AOS.refreshHard);
      }
    </script>
  </body>
</html>
